@(inventarios: Seq[model.Inventario])

@main(title="Inventario del proveedor"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Inventario</h1>

                    <table border="1">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre del producto</td>
                                <td>Cantidad</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}
