@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <main>
            @content
        </main>

        <script src="@routes.Assets.at("jquery/jquery-3.2.1.slim.min.js")"></script>
        <script src="@routes.Assets.at("popper/popper.min.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    </body>
</html>
